@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
}

body {
  background-color: #FAFAFA;
}

.container {
  margin-left: 8%;
  margin-right: 8%;
  background-color: #FAFAFA;
}

/*-----START OF NAV-----*/
.menubar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navbar {
  width: 85%;
  margin: 0 auto;
}

.logo {
  width: 20%;
  margin-top: auto;
  margin-bottom: auto;
}

.logo p a {
  font-weight: 500;
  margin: 0;
  font-size: 28px;
  text-decoration: none;
  color: black;
  font-family: 'Oleo Script', cursive;
}

nav {
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  right: -5%;
}

nav ul {
  list-style: none;
}

nav ul li {
  float: left;
  padding: 10px;

}

nav ul li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: black;

}

#start {
  color: white;
  background-color: #2549D3;
  border: none;
  padding: 15px;
  margin-top: 10%;
  margin-bottom: 10%;
  font-weight: 700;
  font-size: 24px;
  cursor: pointer;
  border-radius: 10px;
}

/*------END OF NAV-----*/

/*------START OF CONTAINER 2-----*/
.container2 {
  width: 100%;
  margin-top: 48px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;

}

.container2cont {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.container2contents {
  width: 50%;
  padding: 50px 50px 0px 10px;

}

.container2contents h1 {
  color: #2549D3;
  font-size: 50px;
}

.creating-quality {
  color: #464646;
}

.container2contents p {
  margin-top: 20px;
  font-size: 20px;
}

.btns {
  display: flex;

}

.learnmore button {
  background-color: #2549D3;
  color: white;
  padding: 12px 16px;
  border-radius: 16px;
  margin-top: 35px;

  border: none;
}

.playbutton {
  color: #0f298b;
  padding: 12px 16px;
  margin-top: 18px;
  font-size: 3vw;
  float: right;
}

.container2image {
  width: 50%;
  display: flex;
  float: right;
}

.container2image img {
  width: 100%;
  height: 370px auto;
  margin-top: 40px;
  margin-left: 0px;
}

/*------END OF CONTAINER 2-----*/

/*------START OF CONTAINER 3-----*/
.container3 {
  clear: both;
  width: 70%;
  margin-top: 160px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px lightgray;
  display: flex;
  justify-content: space-between;

}

.location {
  padding: 20px 40px 20px 20px;
  width: 21%;
}

.location h4 {
  color: #0F298B;
  font-size: 20px;
}

.property {
  width: 29%;
  padding: 20px 40px 20px 20px;
}

.property h4 {
  color: #0F298B;
  font-size: 20px;
}

.price {
  width: 25%;
  padding: 20px 40px 20px 20px;

}

.price h4 {
  color: #0F298B;
  font-size: 20px;
}

.search {
  padding: 20px 40px 20px 20px;
  width: 25%;

}

.search button {
  background-color: #2549D3;
  color: white;
  padding: 14px 28px 14px 28px;
  border-radius: 16px;
  font-size: 18px;
  margin-top: -5px;
  border: none;
}

/*------START OF CONTAINER 3-----*/
.howitworks h2 {
  color: #0f298b;
  text-align: center;
  font-size: 32px;
}

.howitworks p {
  text-align: center;
  margin-bottom: 20px;
}

/*------START OF CONTAINER 4-----*/
.container4 {
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.locationicon {
  text-align: center;
  width: 26%;
  padding: 16px;
  box-shadow: 5px 5px 5px lightgray;
  height: 300px auto;
  background-color: white;
}

.locationicon img {
  width: 25%;
  margin-top: 24px;
  margin-bottom: 24px;
}

.payments {
  text-align: center;
  width: 26%;

  padding: 16px;
  box-shadow: 5px 5px 5px lightgray;
  height: 300px auto;
  background-color: white;
  height: 300px;
}

.payments img {
  width: 60%;
  margin-top: 24px;
  margin-bottom: 24px;

}

.padlock {
  text-align: center;
  width: 26%;
  box-shadow: 5px 5px 5px lightgray;
  padding: 16px;
  height: 300px auto;
  background-color: white;
}

.padlock img {
  width: 45%;
  margin-top: 24px;
  margin-bottom: 24px;
}

/*------END OF CONTAINER 4-----*/

/*------START OF CONTAINER 5-----*/
.container5 {
  width: 100%;
  margin-top: 60px;


}

.container5image {
  width: 50%;
}

.container5image img {
  width: 80%;
  /* position: relative;
    left: 15%; */
  margin: 100px 0px 100px 0px;
}

.chooseus {
  width: 50%;
  float: right;
  margin-top: -375px;
  align-items: center;
}

.chooseus h2 {
  color: #2549D3;
  font-size: 30px;
}

.chooseus p {
  padding: 20px 0px 20px 0px;
  font-size: 20px;
}

.checkbox1 {
  float: left;
}

.checkbox2 {
  margin-left: 280px;
}

/*------END OF CONTAINER 5-----*/
.Featuredproperties h2 {
  color: #2549D3;
  font-size: 36px;
  text-align: center;
}

.Featuredproperties p {
  padding: 20px 0px 20px 0px;
  font-size: 20px;
  text-align: center;
}

/*------START OF CONTAINER 6-----*/
.container6 {
  width: 100%;
}

.bungalow {
  width: 30%;
  float: left;
  margin: 15px;
  background-color: white;
  border-radius: 12px;

}

.bungalow:hover {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.bungalow img {
  width: 100%;
}

.containerhouse1 {
  width: 30%;
  float: left;
  margin: 15px;
  background-color: white;
  border-radius: 12px;
}

.containerhouse1 img {
  width: 100%;
}

.containerhouse1:hover {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.containerhouse2 {
  width: 30%;
  float: left;
  margin: 15px;
  background-color: white;
  border-radius: 12px;
}

.containerhouse2 img {
  width: 100%;
}

.containerhouse2:hover {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.palace {
  padding: 8px;
  height: 45px;
}

.palaceprice {
  padding: 8px;
  float: right;
  margin-top: -50px;
}

.ivyrory {
  padding: 8px;
  height: 45px;
}

.ivyroryprice {
  padding: 8px;
  float: right;
  margin-top: -50px;
}

/* .rexona:hover{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
} */
.rexona {
  padding: 8px;
  height: 45px;
}

.rexonaprice {
  padding: 8px;
  float: right;
  margin-top: -50px;
}

/*------END OF CONTAINER 6-----*/
.esteemed {
  clear: left;
  margin-top: 350px;

}

.esteemed h2 {
  text-align: center;
}

.esteemed p {
  text-align: center;
}

/*------START OF CONTAINER 7-----*/
.container7 {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;

}

.esteemedcustomers {
  width: 28%;
  padding: 8px;
  margin-right: 8px;
}

.esteemedcustomers h4 {
  font-size: 16px;
}

.esteemedcustomers p {
  font-size: 15px;
}

.viewmoreesteemed {
  clear: right;
}

.viewmore button {
  background-color: #2549D3;
  color: white;
  padding: 10px;
  border-radius: 16px;
  float: right;
  border: none;
}

.viewmoreesteemed button {
  background-color: #2549D3;
  color: white;
  padding: 10px;
  border-radius: 16px;
  float: right;
  border: none;
}

/*------START OF FOOTER-----*/
.mainfootercontainer {
  width: 100%;
  background-color: #0F298B;
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.innerfooter {
  width: 80%;

  background-color: #0F298B;
  color: white;
  padding: 28px 36px;
  margin-left: auto;
  margin-right: auto;
}

.vallieestate {
  width: 30%;
  float: left;
  margin-right: 20px;
}

.vallieestate p {
  padding-top: 24px;
}

.footerproperty {
  width: 23%;
  float: left;
}

.footerproperty ul li {
  padding-top: 12px;
  list-style: none;
}

.footerabout {
  width: 23%;
  float: left;
}

.footerabout ul li {
  padding-top: 12px;
  list-style: none;
}

.footerresources ul li {
  padding-top: 12px;
  list-style: none;
}

.footerproperty h3,
.footerabout h3,
.footerresources h3,
.vallieestate h3 {
  padding-bottom: 18px;
  font-size: 28px;
}

.signup {
  width: 70vh;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 6vh;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
}

.signup h1 {
  margin-bottom: 30px;
}

#signup-form {
  display: flex;
  flex-direction: column;
  width: 50vh;
}

label {
  font-size: 18px;
  font-weight: 600;
  padding: 12px 0 4px 0;
}

input {
  border: 1px solid lightgray;
  padding: 7px;
  border-radius: 5px;
}

textarea {
  border: 1px solid lightgray;
  padding: 7px;
  border-radius: 5px;
}

button {
  width: fit-content;
  padding: 6px 18px;
  font-size: 16px;
  margin: 20px 0;
  background-color: #0f298b;
  border: 1px solid#0f298b ;
  border-radius: 5px;
  color: white;
}

button:hover {
  cursor: pointer;
  filter: brightness(90%);
  transition: all 0.35s ease-in-out;
}

select {
  border: 1px solid lightgray;
  padding: 7px;
  border-radius: 5px;
}

.already {
  width: 50vh;
}

.already p {
  padding-top: 12px;
}

.login {
  width: 70vh;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 6vh;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
}

.login h1 {
  margin-bottom: 30px;
}

#login-form {
  display: flex;
  flex-direction: column;
  width: 50vh;
}